/* בסיס */
body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#heroSection {
  background-image: url('/imgs/header.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
  text-align: center;
  position: relative; 
  z-index: 1; 
}

#heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55); 
  z-index: -1; 
}

header h1{
  font-weight: 900;
}

footer {
  background-color: #004b23;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/*!* תפריט ניווט *!*/
nav.navbar {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #f3de2c !important;
}

.navbar-brand {
  color:#fbb02d;
  font-weight: 900;
  order: -1;
}

.navbar-brand:hover {
  color:#f3de2c;
}

.custom-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px; 
  height: 18px; 
}

.custom-toggler-icon span {
  display: block;
  height: 2px; 
  width: 100%; 
  background-color: #fbb02d; 
  border-radius: 1px; 
}

.active {
  color:#fbb02d !important;
  text-decoration: underline;
  text-underline-offset: 8px;
}


/* אזור חיפוש */
#treeSearch {
  border: 2px solid #004b23;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

#searchContainer {
  position: relative;
}

#searchContainer i {
  position: absolute;
  left: 20px;  
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d; 
}

/* כרטיסיות */
.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  gap: 20px; 
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem; 
  height: 23rem; 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.25rem;
  color: #004b23;
  margin: 10px 0px;
  font-weight: 900;
}

.card-text {
  color: #132a13;
}

.card img {
  width: 100%;
  height: 12rem; 
  object-fit: cover; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* כפתור בתוך כרטיסיות */
.btn-primary {
  background-color: #004b23;
  border-color: #004b23;
  transition: background-color 0.2s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #245501;
  transform: scale(1.05);
}

/* חלונית המידע (modal) */
.modal-header {
  background-color: #132a13;
  color: white;
}

.modal-body {
  font-size: 1rem;
  line-height: 1.5;
  color: #132a13;
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.modal-footer .btn-primary {
  background-color: #004b23;
  border-color: #004b23;
}

#modalImg {
  width: 100%; 
  height: max-content; 
  object-fit: cover; 
  border-radius: 8px; 
}

#modalTreeName {
  font-weight: 900;
  color: #004b23;
}


.ps-md-3 {
  padding-right: 16px; 
}

/* רספונסיביות */
@media (max-width: 768px) {
  .card {
    width: 100%; 
    height: auto; 
  }

  .card img {
    height: auto; 
  }

  .modal-body {
    flex-direction: column; 
  }

  #modalImg {
    margin-bottom: 15px; 
  }

  header {
    padding: 15px 0;
  }

  footer {
    padding: 8px 0;
  }
}

@media (min-width: 768px) {
  .modal-body {
    flex-direction: row; /* Switch to row direction on medium (md) screens and above */
  }
}
